<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flashcards.app"
    android:versionCode="2"
    android:versionName="0.2">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19"></uses-sdk>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.example.flashcards.app.LaunchActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.flashcards.app.GroupListActivity"
            android:label="@string/title_activity_group_list"></activity>

        <activity
            android:name="com.example.flashcards.app.AddNotecardActivity"
            android:label="@string/title_activity_add_notecard"
            android:parentActivityName="com.example.flashcards.app.GroupActivity"></activity>

        <activity
            android:name="com.example.flashcards.app.GroupActivity"
            android:label="@string/title_activity_group"
            android:parentActivityName="com.example.flashcards.app.GroupListActivity"></activity>

        <activity
            android:name="com.example.flashcards.app.TestingActivity"
            android:label="@string/title_activity_testing"
            android:parentActivityName="com.example.flashcards.app.GroupActivity"></activity>

    </application>

</manifest>
